.btnNewTaxes {
  border-radius: 10px;
  color: white;
  margin-left: 85%;
  margin-bottom: 10px;
  height: 40%;
  display:flex;
  align-items: center;
  background-color:#0044FF;

  justify-content: right;
}