.tdImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

form {
  margin-bottom: 20px;
}

.selecao, .data{
  background-color: white;
  width: 100%;
}

.formLeft {
  text-align: left;
}

.formulario .col-md-2 select,
.formulario .col-md-3 select,
.formulario .col-md-4 select,
.formulario .col-md-6 select{
    width: 100%;
    height: 55px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 14px;
}



.table {
  width: 90%;
  border-collapse: collapse; /* Remove espaçamento entre células */
  font-family: Arial, sans-serif; /* Fonte da tabela */
  border: 1px;
  border-color: black;
}

.table th {
  text-align: left; /* Alinhamento do texto à esquerda */
}

.table th:first-child {
  border-top-left-radius: 10px; /* Cantos arredondados para a primeira célula do cabeçalho */
  text-align: center;
}

.table th:last-child {
  border-top-right-radius: 10px; /* Cantos arredondados para a última célula do cabeçalho */
}