.fornecedores {
    border-radius: 10px;
    padding: 0.5em;
    color: white;
    width: 130px;
    margin-left: 90%;
    height: 40%;
    display:flex;
    align-items: center;
    background-color:#0044FF;

    justify-content: right;
}
.selecao, .data{
    background-color: white;
    width: 100%;
}